#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quoteContent {
    font: bold;
    font-size: 22px;
    font-weight: 600;
}

#quoteAuthor {
    font-size: 14px;
    font-weight: 600;
    color: #2c2c2c;
}